@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

html {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-secondary {
  background-color: #00ca74;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: #00bc6c;
}

.button-secondary:active {
  background-color: #00aa62;
}

.button-tertiary {
  background-color: #efc84a;
}

.button-tertiary:hover,
.button-tertiary:focus {
  background-color: #eab534;
}

.button-tertiary:active {
  background-color: #e5a722;
}

.main-header {
  width: 100%;
  padding-top: 49px;

  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation-logo {
  width: 160px;
  height: 65px;
  margin-right: 140px;
}

.main-navigation-logo:hover,
.main-navigation-logo:focus {
  opacity: 0.8;
}

.main-navigation-logo:active {
  opacity: 0.3;
}

.site-navigation {
  width: 860px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage-item {
  width: 300px;
  margin-right: 100px;
}

.advantage-item:last-child {
  margin-right: 60px;
}

.advantage-item h3 {
  font-weight: inherit;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.page-title-wrapper {
  width: 100%;
  margin-bottom: 60px;
  padding: 93px 0;

  text-align: center;

  background-color: #eeeeee;
}

.page-title {
  margin: 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;

}

.catalog-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}

.filters {
  width: 260px;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 20px;
  color: #283136;
}

.filter-input {
  opacity: 0.4;
}

.filter-input:hover,
.filter-input:focus {
  opacity: 1;
}

.filter-input:disabled {
  opacity: 0.1;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.catalog-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #dfdfdf;
}

.catalog-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.catalog-wrapper {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-bottom: 35px;
}

.catalog-item img {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item-description {
  position: absolute;
  bottom: 0;

  display: none;
  width: auto;
  padding-top: 28px;
  padding-right: 60px;
  padding-bottom: 42px;
  padding-left: 60px;

  text-align: center;
}

.catalog-item:hover .catalog-item-description {
  display: block;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-title:hover,
.catalog-item-title:active {
  color: #fb565a;
}

.catalog-item-title:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item p {
  line-height: 18px;
  color: #666666;
}

.catalog-item-description {
  background-color: #eeeeee;
}

.catalog-item-button:active {
  color: #ffffff;
}

.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-button-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-button-current:hover,
.pagination-button-current:focus,
.pagination-button-current:active {
  color: #000000;

  box-shadow: none;
  background-color: #ffffff;
}

.map {
  position: relative;

  margin-bottom: 69px;
  padding: 54px 0;

  overflow: hidden;
}

.map img {
  position: absolute;
  top: 0;
  left: 50%;

  width: auto;
  height: 100%;

  transform: translateX(-50%);
}

.contacts {
  position: relative;
  width: 319px;

  background-color: #ffffff;
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts p,
.contacts-phone {
  line-height: 18px;
  color: #666666;
}

.modal {
  display: none;
  width: 960px;
  margin: 0 auto;

  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
}

.modal h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.letter-form label {
  line-height: 18px;
  color: #000000;
}

.letter-form input,
.letter-form textarea {
  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}

.letter-form input:hover,
.letter-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.letter-form input:focus,
.letter-form textarea:focus {
  border-color: #000000;
}

.letter-form input:invalid {
  color: #e74246;

  border-color: #e74246;
}

.main-footer {
  padding-bottom: 69px;
}

.main-footer .container {
  display: flex;
  align-items: center;
}

.footer-social {
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;
}

.social-button {
  font: inherit;
  text-transform: none;

  background-color: #e1e1e1;
}

.footer-slogan {
  width: 760px;
}

.footer-slogan-title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-slogan-discount {
  margin: 0;

  line-height: 22px;
  color: #444444;
}
