@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

html {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-secondary {
  background-color: #00ca74;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: #00bc6c;
}

.button-secondary:active {
  background-color: #00aa62;
}

.button-tertiary {
  background-color: #efc84a;
}

.button-tertiary:hover,
.button-tertiary:focus {
  background-color: #eab534;
}

.button-tertiary:active {
  background-color: #e5a722;
}

.main-header {
  padding-top: 49px;

  color: #000000;

  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation-logo {
  width: 160px;
  height: 65px;
  margin-right: 177px;
}

.main-navigation-logo:hover,
.main-navigation-logo:focus {
  opacity: 0.8;
}

.main-navigation-logo:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  width: 625px;
  margin-top: 19px;
  margin-right: auto;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;

  max-width: 160px;
  margin-top: 19px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 6px 24px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.user-navigation-current a {
  position: relative;
}

.site-navigation-current a::after {
  content: "";

  position: absolute;
  right: 24px;
  bottom: 0;
  left: 24px;

  height: 2px;

  background-color: #fb565a;
}

.user-navigation-current a::after {
  content: "";

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 2px;

  background-color: #fb565a;
}

.user-navigation .cart-link {
  position: relative;

  padding-right: 0px;
  padding-left: 41px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-bottom: 80px;

  list-style: none;
  border-bottom: 2px solid #eeeeee;
}

.advantage-item {
  position: relative;

  width: 300px;
  margin-right: 100px;
  padding-top: 170px;
}

.advantage-item:nth-child(3n) {
  margin-right: 60px;
}

.advantage-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 300px;
  height: 146px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-item-sites::before {
  background-color: #fb565a;
  background-image: url("../img/illustration-1.png");
}

.advantage-item-applications::before {
  background-color: #00ca74;
  background-image: url("../img/illustration-2.png");
}

.advantage-item-presentations::before {
  background-color: #efc849;
  background-image: url("../img/illustration-3.png");
}

.advantage-item h3 {
  margin: 0;

  font-weight: inherit;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.advantage-item p {
  margin-right: 40px;
  margin-bottom: 33px;
}

.advantages-button {
  padding: 16px 40px;
}

.page-title-wrapper {
  margin-bottom: 60px;
  padding: 78px 0 108px;

  text-align: center;

  background-color: #eeeeee;
}

.page-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.catalog {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}

.filters {
  width: 260px;
}

.filters fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;
}

.filters fieldset:first-child {
  margin-bottom: 26px;
}

.filters legend {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 20px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;

  width: 25px;
  height: 25px;

  opacity: 0.4;
}

.filter-option:hover label::before,
.filter-option input:focus + label::before {
  opacity: 1;
}

.filter-input-radio + label::before {
  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.filter-input-radio:checked + label::before {
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-input-checkbox + label::before {
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-input-checkbox:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-input:disabled + label::before {
  opacity: 0.1;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  width: 100%;
  padding: 16px 30px;
}

.catalog-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #dfdfdf;
}

.catalog-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-wrapper {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 0 25px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-bottom: 33px;
}

.catalog-item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item::before {
  content: "";

  display: block;
  height: 40px;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background-color: #e9e9e9;
}

.catalog-item:hover::before {
  background-color: #4d4d4d;
}

.catalog-item::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 39px;

  width: 14px;
  height: 14px;

  background-color: #ffffff;

  box-shadow:
    23px 0 0 0 #ffffff,
    -23px 0 0 0 #ffffff;

  border-radius: 50%;
}

.catalog-item img {
  display: block;
}

.catalog-item-description {
  position: absolute;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  display: none;
  width: 100%;
  max-height: 576px;
  padding: 32px 60px 43px;

  text-align: center;

  overflow-y: auto;
}

.catalog-item:hover .catalog-item-description {
  display: block;
}

.catalog-item-title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-title a:hover {
  color: #fb565a;
}

.catalog-item-title a:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item p {
  margin: 0;
  margin-bottom: 32px;
  line-height: 18px;
  color: #666666;
}

.catalog-item-description {
  background-color: #eeeeee;
}

.catalog-item-button {
  box-sizing: border-box;
  width: 200px;
  padding: 16px 20px;
}

.catalog-item-button:active {
  color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list li {
  margin-right: 12px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-list a {
  display: block;
}

.pagination-button {
  padding: 16px 20px;
}

.button-next {
  box-sizing: border-box;
  width: 260px;
  padding: 16px 30px;
}

.pagination-button-current {
  padding: 13px 17px;
}

.pagination-button-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-button-current:hover,
.pagination-button-current:focus,
.pagination-button-current:active {
  color: #000000;

  box-shadow: none;
  background-color: #ffffff;
}

.map {
  position: relative;

  margin-bottom: 68px;
  padding: 54px 0;

  overflow: hidden;
}

.map img {
  position: absolute;
  top: 0;
  left: 50%;

  width: auto;
  height: 100%;

  transform: translateX(-50%);
}

.contacts {
  position: relative;

  box-sizing: border-box;
  width: 319px;
  padding: 49px 50px 47px;
  background-color: #ffffff;
}

.contacts h3 {
  margin: 0;
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts p,
.contacts-phone {
  line-height: 18px;
  color: #666666;
}

.contacts p {
  margin: 0;
  margin-bottom: 16px;
}

.contacts-phone {
  display: block;
  margin-bottom: 40px;
}

.contacts-button {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 10px;
}

.modal {
  position: fixed;
  bottom: 180px;
  left: 50%;

  display: none;
  width: 760px;
  padding: 65px 100px 84px;

  transform: translateX(-50%);

  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;

  width: 21px;
  height: 21px;

  background: url("../img/close-cross.svg") no-repeat 0 0;
  border: none;
  opacity: 0.3;

  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal h3 {
  margin: 0;
  margin-bottom: 40px;


  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.letter-form {
  display: flex;
  flex-wrap: wrap;
}

.letter-form .name,
.letter-form .email {
  width: 360px;
  margin: 0;
  margin-bottom: 33px;
}

.letter-form .name {
  margin-right: 40px;
}

.letter-form .message {
  width: 100%;
  margin: 0;
  margin-bottom: 47px;
}

.letter-form label {
  display: block;
  margin-bottom: 10px;

  line-height: 18px;
  color: #000000;
}

.letter-form input,
.letter-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;

  line-height: 18px;
  color: #444444;
  opacity: 0.5;
}

.letter-form input:hover,
.letter-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.letter-form input:focus,
.letter-form textarea:focus {
  border-color: #000000;
  opacity: 1;
}

.letter-form input:invalid {
  color: #e74246;

  border-color: #e74246;
}

.letter-form-button {
  padding: 16px 85px;
}

.main-footer {
  padding-bottom: 69px;
}

.social {
  display: flex;
  align-items: flex-start;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;
}

.social-button {
  position: relative;

  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-vk::before {
  background-image: url("../img/vk-icon.svg");
}

.social-fb::before {
  background-image: url("../img/fb-icon.svg");
}

.social-insta::before {
  background-image: url("../img/insta-icon.svg");
}

.social-button:active::before {
  opacity: 0.3;
}

.footer-slogan {
  width: 760px;
  padding-top: 7px;
}

.footer-slogan-title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-slogan-discount {
  margin: 10px 0;

  line-height: 22px;
  color: #444444;
}
